<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1  .0">
    <title>Car recommender</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Aplikacja do rekomendacji samochodów</a>
        <a href="/about">O projekcie</a>
    </div>
    <div class="form-box">
    coś o projekcie tu kiedys będzie
    </div>
</body>
</html>