<!-- templates/form.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car recommender</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Aplikacja do rekomendacji samochodów</a>
        <a href="/about">O projekcie</a>
    </div>
    <div class="container">
        <div class="form-box">
            <h1> Formularz preferencji</h1>
            <form action="/form" method="post">
            <fieldset>
                <legend>Przeznaczenie pojazdu</legend>
                <div class="option" id="rodzinny">
                    <input type="radio" name="przeznaczenie" value="Rodzinny" id="przeznaczenie_rodzinny" required>
                    <label for="przeznaczenie_rodzinny">Rodzinny</label>
                </div>

                <div class="option" id="miejski">
                    <input type="radio" name="przeznaczenie" value="Miejski" id="przeznaczenie_miejski" required>
                    <label for="przeznaczenie_miejski">Miejski, na codzień</label>
                </div>

                <div class="option" id="uniwersalny">
                    <input type="radio" name="przeznaczenie" value="Uniwersalny" id="przeznaczenie_uniwersalny" required>
                    <label for="przeznaczenie_uniwersalny">Uniwersalny</label>
                </div>

                <div class="option" id="trasy">
                    <input type="radio" name="przeznaczenie" value="Trasy" id="przeznaczenie_trasy" required>
                    <label for="przeznaczenie_trasy">Długie trasy</label>
                </div>

                <div class="option" id="sportowy">
                    <input type="radio" name="przeznaczenie" value="Sportowy" id="przeznaczenie_sportowy" required>
                    <label for="przeznaczenie_sportowy">Sportowy</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Ekonomia</legend>
                <div class="option" id="ekonomia_malo">
                    <input type="radio" name="ekonomia" value="mało" id="ekonomia_malo_input" required>
                    <label for="ekonomia_malo_input">Mało</label>
                </div>

                <div class="option" id="ekonomia_srednio">
                    <input type="radio" name="ekonomia" value="średnio" id="ekonomia_srednio_input" required>
                    <label for="ekonomia_srednio_input">Średnio</label>
                </div>

                <div class="option" id="ekonomia_bardzo">
                    <input type="radio" name="ekonomia" value="bardzo" id="ekonomia_bardzo_input" required>
                    <label for="ekonomia_bardzo_input">Bardzo</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Wygoda</legend>
                <div class="option" id="wygoda_malo">
                    <input type="radio" name="wygoda" value="mało" id="wygoda_malo_input" required>
                    <label for="wygoda_malo_input">Mało</label>
                </div>

                <div class="option" id="wygoda_srednio">
                    <input type="radio" name="wygoda" value="średnio" id="wygoda_srednio_input" required>
                    <label for="wygoda_srednio_input">Średnio</label>
                </div>

                <div class="option" id="wygoda_bardzo">
                    <input type="radio" name="wygoda" value="bardzo" id="wygoda_bardzo_input" required>
                    <label for="wygoda_bardzo_input">Bardzo</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Styl jazdy</legend>
                <div class="option" id="styl_jazdy_defensywny">
                    <input type="radio" name="styl_jazdy" value="defensywny" id="styl_jazdy_defensywny_input" required>
                    <label for="styl_jazdy_defensywny_input">Defensywny</label>
                </div>

                <div class="option" id="styl_jazdy_agresywny">
                    <input type="radio" name="styl_jazdy" value="agresywny" id="styl_jazdy_agresywny_input" required>
                    <label for="styl_jazdy_agresywny_input">Agresywny</label>
                </div>

                <div class="option" id="styl_jazdy_neutralny">
                    <input type="radio" name="styl_jazdy" value="neutralny" id="styl_jazdy_neutralny_input" required>
                    <label for="styl_jazdy_neutralny_input">Neutralny</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Budżet</legend>
<!--               <label for="min-price">Od:</label>-->
                <input type="number" id="min-price" name="min-price" min="0" placeholder="Od:" required value="0">
<!--                <label for="max-price">Do:</label>-->
                <input type="number" id="max-price" name="max-price" min="5000" placeholder="Do:" required value="10000">
            </fieldset>

            <input type="submit" name="action" value="Dalej" class="button">
        </form>

        </div>
    </div>
</body>
</html>