<!-- templates/form.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car recommender</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Aplikacja do rekomendacji samochodów</a>
        <a href="/about">O projekcie</a>
    </div>
    <div class="container">
        <div class="form-box">
            <h1> Formularz preferencji</h1>
            <form action="/form" method="post">
            <fieldset>
                <legend>Przeznaczenie pojazdu</legend>
                <div class="option" id="rodzinny">
                    <input type="radio" name="przeznaczenie" value="Rodzinny" id="przeznaczenie_rodzinny">
                    <label for="przeznaczenie_rodzinny">Rodzinny</label>
                </div>

                <div class="option" id="miejski">
                    <input type="radio" name="przeznaczenie" value="Miejski" id="przeznaczenie_miejski">
                    <label for="przeznaczenie_miejski">Miejski, na codzień</label>
                </div>

                <div class="option" id="uniwersalny">
                    <input type="radio" name="przeznaczenie" value="Uniwersalny" id="przeznaczenie_uniwersalny">
                    <label for="przeznaczenie_uniwersalny">Uniwersalny</label>
                </div>

                <div class="option" id="trasy">
                    <input type="radio" name="przeznaczenie" value="Trasy" id="przeznaczenie_trasy">
                    <label for="przeznaczenie_trasy">Długie trasy</label>
                </div>

                <div class="option" id="sportowy">
                    <input type="radio" name="przeznaczenie" value="Sportowy" id="przeznaczenie_sportowy">
                    <label for="przeznaczenie_sportowy">Sportowy</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Jak ważna jest dla Ciebie ekonomia pojazdu?</legend>
                <div class="option" id="ekonomia_malo">
                    <input type="radio" name="ekonomia" value="mało" id="ekonomia_malo_input">
                    <label for="ekonomia_malo_input">Mało</label>
                </div>

                <div class="option" id="ekonomia_srednio">
                    <input type="radio" name="ekonomia" value="średnio" id="ekonomia_srednio_input">
                    <label for="ekonomia_srednio_input">Średnio</label>
                </div>

                <div class="option" id="ekonomia_bardzo">
                    <input type="radio" name="ekonomia" value="bardzo" id="ekonomia_bardzo_input">
                    <label for="ekonomia_bardzo_input">Bardzo</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Jak wygodnego pojazdu oczekujesz?</legend>
                <div class="option" id="wygoda_malo">
                    <input type="radio" name="wygoda" value="mało" id="wygoda_malo_input">
                    <label for="wygoda_malo_input">Mało</label>
                </div>

                <div class="option" id="wygoda_srednio">
                    <input type="radio" name="wygoda" value="średnio" id="wygoda_srednio_input">
                    <label for="wygoda_srednio_input">Średnio</label>
                </div>

                <div class="option" id="wygoda_bardzo">
                    <input type="radio" name="wygoda" value="bardzo" id="wygoda_bardzo_input">
                    <label for="wygoda_bardzo_input">Bardzo</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Jaki masz styl jazdy?</legend>
                <div class="option" id="styl_jazdy_defensywny">
                    <input type="radio" name="styl_jazdy" value="defensywny" id="styl_jazdy_defensywny_input">
                    <label for="styl_jazdy_defensywny_input">Defensywny</label>
                </div>

                <div class="option" id="styl_jazdy_agresywny">
                    <input type="radio" name="styl_jazdy" value="agresywny" id="styl_jazdy_agresywny_input">
                    <label for="styl_jazdy_agresywny_input">Agresywny</label>
                </div>

                <div class="option" id="styl_jazdy_neutralny">
                    <input type="radio" name="styl_jazdy" value="neutralny" id="styl_jazdy_neutralny_input">
                    <label for="styl_jazdy_neutralny_input">Neutralny</label>
                </div>
            </fieldset>

            <input type="submit" name="action" value="Dalej" class="button">
        </form>

        </div>
    </div>
</body>
</html>