<!-- templates/homepage.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1  .0">
    <title>Car recommender</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Aplikacja do rekomendacji samochodów</a>
        <a href="/about">O projekcie</a>
    </div>
    <div class="container">
        <div class="form-box">
            <h1>Aplikacja do rekomendacji samochodów</h1>
            <h2>Wypełnij krótką ankietę, aby otrzymać listę propozycji.</h2>
            <a href="/form">
                <button class="button" ><span>Start </span></button>
            </a>
        </div>
    </div>
</body>
</html>